.desktop-1,
.desktop-1 * {
  box-sizing: border-box;
}


.desktop-1 {
  background: #000;
  height: 7460px;
  position: relative;
  overflow: hidden;
}

.rectangle-1 {
  background-color: #000;
}

.rectangle-9 {
  width: 1920px;
  height: 1080px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}

.hero-video-text {
  color: #ffffff;
  background-color: #0000007e;
  text-align: left;
  font-family: "Libre Bodoni", serif;
  font-size: 72px;
  font-weight: 700;
  font-style: italic;
  position: absolute;
  left: 20px;
  top: 770px;
  width: 790px;
  height: 190px;
}

.sectiontitle1 {
  color: #ffffff;
  text-align: left;
  font-family: "Libre Bodoni", serif;
  font-size: 72px;
  font-weight: 700;
  font-style: italic;
  position: absolute;
  left: 57px;
  top: 1232px;
  width: 829px;
  height: 270px;
}

.sectionp1 {
  color: #ffffff;
  text-align: left;
  font-family: "Cactus Classical Serif", serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 57px;
  top: 1530px;
  width: 829px;
  height: 436px;
}

.rectangle-3 {
  width: 960px;
  height: 1080px;
  position: absolute;
  left: 960px;
  top: 1080px;
  object-fit: cover;
}

.sectiontitle2 {
  color: #ffffff;
  text-align: left;
  font-family: "Libre Bodoni", serif;
  font-size: 72px;
  font-weight: 700;
  font-style: italic;
  position: absolute;
  left: 1025px;
  top: 2333px;
  width: 829px;
  height: 90px;
}

.sectionp2 {
  color: #ffffff;
  text-align: left;
  font-family: "Cactus Classical Serif", serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 1025px;
  top: 2451px;
  width: 829px;
  height: 479px;
}

.rectangle-4 {
  width: 960px;
  height: 1080px;
  position: absolute;
  left: 0px;
  top: 2160px;
  object-fit: cover;
}

.sectiontitle3 {
  color: #ffffff;
  text-align: left;
  font-family: "Libre Bodoni", serif;
  font-size: 72px;
  font-weight: 700;
  font-style: italic;
  position: absolute;
  left: 57px;
  top: 3392px;
  width: 829px;
  height: 90px;
}

.sectionp3-1 {
  color: #ffffff;
  text-align: left;
  font-family: "Cactus Classical Serif", serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 57px;
  top: 3510px;
  width: 829px;
  height: 690px;
}

.sectionp3-2 {
  color: #ffffff;
  font-family: "Cactus Classical Serif", serif;
  font-size: 24px;
  font-weight: 400;
}

.sectionp3-3 {
  color: #ffffff;
  font-family: "Libre Bodoni", serif;
  font-size: 24px;
  font-weight: 700;
  font-style: italic;
}

.sectionp3-4 {
  color: #ffffff;
  font-family: "Cactus Classical Serif", serif;
  font-size: 24px;
  font-weight: 400;
}

.sectionp3-5 {
  color: #ffffff;
  font-family: "Libre Bodoni", serif;
  font-size: 24px;
  font-weight: 700;
  font-style: italic;
}

.sectionp3-6 {
  color: #ffffff;
  font-family: "Cactus Classical Serif", serif;
  font-size: 24px;
  font-weight: 400;
}

.sectionp3-7 {
  color: #ffffff;
  font-family: "Libre Bodoni", serif;
  font-size: 24px;
  font-weight: 700;
  font-style: italic;
}

.sectionp3-8 {
  color: #ffffff;
  font-family: "Cactus Classical Serif", serif;
  font-size: 24px;
  font-weight: 400;
}

.sectionp3-9 {
  color: #ffffff;
  font-family: "Libre Bodoni", serif;
  font-size: 24px;
  font-weight: 700;
  font-style: italic;
}

.sectionp3-10 {
  color: #ffffff;
  font-family: "Cactus Classical Serif", serif;
  font-size: 24px;
  font-weight: 400;
}

.sectionp3-11 {
  color: #ffffff;
  font-family: "Libre Bodoni", serif;
  font-size: 24px;
  font-weight: 700;
  font-style: italic;
}

.sectionp3-12 {
  color: #ffffff;
  font-family: "Cactus Classical Serif", serif;
  font-size: 24px;
  font-weight: 400;
}

.rectangle-5 {
  width: 960px;
  height: 1080px;
  position: absolute;
  left: 960px;
  top: 3240px;
  object-fit: cover;
}

.sectiontitle4 {
  color: #ffffff;
  text-align: left;
  font-family: "Libre Bodoni", serif;
  font-size: 72px;
  font-weight: 700;
  font-style: italic;
  position: absolute;
  left: 1025px;
  top: 4493px;
  width: 829px;
  height: 90px;
}

.sectionp4 {
  color: #ffffff;
  text-align: left;
  font-family: "Cactus Classical Serif", serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 1025px;
  top: 4611px;
  width: 829px;
  height: 129px;
}

.rectangle-6 {
  width: 960px;
  height: 1080px;
  position: absolute;
  left: 0px;
  top: 4320px;
  object-fit: cover;
}

.sectiontitle5 {
  color: #ffffff;
  text-align: left;
  font-family: "Libre Bodoni", serif;
  font-size: 72px;
  font-weight: 700;
  font-style: italic;
  position: absolute;
  left: 57px;
  top: 5552px;
  width: 829px;
  height: 90px;
}

.sectionp5 {
  color: #ffffff;
  text-align: left;
  font-family: "Cactus Classical Serif", serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 57px;
  top: 5670px;
  width: 829px;
  height: 690px;
}

.sectionp5-1 {
  color: #ffffff;
  font-family: "Cactus Classical Serif", serif;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 400;
}

.sectionp5-2 {
  color: #ffffff;
  list-style-type: decimal;
  font-family: "Libre Bodoni", serif;
  font-size: 24px;
  font-weight: 700;
  font-style: italic;
}

.sectionp5-3 p {
  color: #ffffff;
  list-style-type: decimal;
  font-family: "Cactus Classical Serif", serif;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 400;
}

.sectionp5-4 {
  color: #ffffff;
  list-style-type: decimal;
  font-family: "Libre Bodoni", serif;
  font-size: 24px;
  font-weight: 700;
  font-style: italic;
}

.sectionp5-5 p {
  color: #ffffff;
  list-style-type: decimal;
  font-family: "Cactus Classical Serif", serif;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 400;
}

.sectionp5-6 {
  color: #ffffff;
  list-style-type: decimal;
  font-family: "Libre Bodoni", serif;
  font-size: 24px;
  font-weight: 700;
  font-style: italic;
}

.sectionp5-7 p {
  color: #ffffff;
  list-style-type: decimal;
  font-family: "Cactus Classical Serif", serif;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 400;
}

.sectionp5-8 {
  color: #ffffff;
  list-style-type: decimal;
  font-family: "Libre Bodoni", serif;
  font-size: 24px;
  font-weight: 700;
  font-style: italic;
}

.sectionp5-9 p {
  color: #ffffff;
  list-style-type: decimal;
  font-family: "Cactus Classical Serif", serif;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 400;
}

.sectionp5-10 {
  color: #ffffff;
  list-style-type: decimal;
  font-family: "Libre Bodoni", serif;
  font-size: 24px;
  font-weight: 700;
  font-style: italic;
}

.sectionp5-11 p {
  color: #ffffff;
  list-style-type: decimal;
  font-family: "Cactus Classical Serif", serif;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 400;
}

.rectangle-7 {
  width: 960px;
  height: 1080px;
  position: absolute;
  left: 960px;
  top: 5400px;
  object-fit: cover;
}

.sectiontitle6 {
  color: #ffffff;
  text-align: center;
  font-family: "Libre Bodoni", serif;
  font-size: 72px;
  font-weight: 700;
  font-style: italic;
  position: absolute;
  left: 545px;
  top: 6540px;
  width: 829px;
  height: 90px;
}

.sectionp6-1 {
  color: #fff;
  text-align: center;
  font-family: "Libre Bodoni", serif;
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  position: absolute;
  left: 909px;
  top: 6654px;
  transition: 0.5s auto;
}

.sectionp6-1 a {
  color: #fff;
  transition: background-color 0.5s, padding 0.5s;
}

.sectionp6-1 a:hover {
  background-color: #8931EF;
  text-decoration: none;
  padding: 10px;
}

.sectionp6-2 {
  text-align: center;
  font-family: "Libre Bodoni", serif;
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  position: absolute;
  left: 897px;
  top: 6694px;
}

.sectionp6-2 a {
  color: #fff;
  transition: background-color 0.5s, padding 0.5s;
}

.sectionp6-2 a:hover {
  background-color: #8931EF;
  text-decoration: none;
  padding: 10px;
}

.sectionp6-3 {
  text-align: center;
  font-family: "Libre Bodoni", serif;
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  position: absolute;
  left: 862px;
  top: 6734px;
}

.sectionp6-3 a {
  color: #fff;
  transition: background-color 0.5s, padding 0.5s;
}

.sectionp6-3 a:hover {
  background-color: #8931EF;
  text-decoration: none;
  padding: 10px;
}

.rectangle-8 {
  width: 1920px;
  height: 627px;
  position: absolute;
  left: 0px;
  top: 6833px;
  object-fit: cover;
}

.frame-1 {
  width: 1920px;
  height: 85px;
  position: fixed;
  left: 0px;
  top: 0px;
  overflow: hidden;
}

.rectangle-2 {
  background: rgba(0, 0, 0, 0.75);
  width: 1920px;
  height: 85px;
  position: absolute;
  left: 0px;
  top: 0px;
  backdrop-filter: blur(32px);
}

.mono-stroke-1 {
  width: 113px;
  height: 41px;
  position: absolute;
  left: 903px;
  top: 22px;
  overflow: hidden;
}

.camada-1 {
  width: 95.95%;
  height: 100.51%;
  position: absolute;
  right: 2.16%;
  left: 1.89%;
  bottom: -0.51%;
  top: 0%;
  overflow: visible;
}

/* Media Queries para dispositivos móveis */
@media (max-width: 768px) {
  .hero-video-text {
    font-size: 6vw;
    left: 5%;
    width: 90%;
    height: auto;
    position: relative;
    z-index: 10;
    /* Garante que o texto esteja acima dos vídeos/imagens */
  }

  .sectiontitle1,
  .sectiontitle2,
  .sectiontitle3,
  .sectiontitle4,
  .sectiontitle5,
  .sectiontitle6 {
    font-size: 6vw;
    left: 5%;
    width: 90%;
    height: auto;
    position: relative;
    z-index: 10;
    /* Garante que o texto esteja acima dos vídeos/imagens */
  }

  .sectionp1,
  .sectionp2,
  .sectionp3-1,
  .sectionp4,
  .sectionp5,
  .sectionp6-1,
  .sectionp6-2,
  .sectionp6-3 {
    font-size: 3vw;
    left: 5%;
    width: 90%;
    height: auto;
    position: relative;
    z-index: 10;
    /* Garante que o texto esteja acima dos vídeos/imagens */
  }

  .sectionp3-2,
  .sectionp3-3,
  .sectionp3-4,
  .sectionp3-5,
  .sectionp3-6,
  .sectionp3-7,
  .sectionp3-8,
  .sectionp3-9,
  .sectionp3-10,
  .sectionp3-11,
  .sectionp3-12,
  .sectionp5-1,
  .sectionp5-2,
  .sectionp5-3,
  .sectionp5-4,
  .sectionp5-5,
  .sectionp5-6,
  .sectionp5-7,
  .sectionp5-8,
  .sectionp5-9,
  .sectionp5-10,
  .sectionp5-11 {
    font-size: 3vw;
    margin-bottom: 5px;
    position: relative;
    z-index: 10;
    /* Garante que o texto esteja acima dos vídeos/imagens */
  }

  .frame-1 {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
  }

  .rectangle-2 {
    width: 100%;
    height: auto;
  }

  .mono-stroke-1 {
    width: 100%;
    height: auto;
    left: 25%;
    top: 10px;
  }

  .rectangle-3,
  .rectangle-4,
  .rectangle-5,
  .rectangle-6,
  .rectangle-7,
  .rectangle-8 {
    width: 100%;
    height: auto;
    left: 0;
  }

  .sectiontitle1 {
    top: 430px;
  }

  .sectionp1 {
    top: 530px;
  }

  .sectiontitle2 {
    top: 1200px;
  }

  .sectionp2 {
    top: 1300px;
  }

  .sectiontitle3 {
    top: 2000px;
  }

  .sectionp3-1 {
    top: 2050px;
  }

  .sectiontitle4 {
    top: 2650px;
  }

  .sectionp4 {
    top: 2750px;
  }

  .sectiontitle5 {
    top: 3650px;
  }

  .sectionp5 {
    top: 3750px;
  }

  .sectiontitle6 {
    top: 4050px;
  }

  .sectionp6-1 {
    top: 4100px;
  }

  .sectionp6-2 {
    top: 4125px;
  }

  .sectionp6-3 {
    top: 4150px;
  }

  .rectangle-8 {
    top: 7165px;
    height: 4%;
  }
}